.HomeContainer{
    width: 100%;
    display: flex;
}

@media only screen and (min-width: 512px) {
    .HomeContainer{
        width: 98%;
        margin-left: 20px;
    }
}

.footer{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin-left:5%;
    width: 90%;
}
